.body-container{
  display: flex;
  position: absolute;
  background-color: #CA7842;
  flex: 1;

}
.movie-list
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 2%;
}
