<div class="header-display">
  <div class="header-left">
    <button (click)="showLeft()" class="header-left-button">Left Panel</button>
  </div>
  <div class="header-right">
    <div class="header-search-bar">
      <input class="header-input" placeholder="movie name">
      <button class="default-button">Search</button>
    </div>
    <button (click)="changePage(-1)" class="default-button"><-Previous Page</button>
    <button (click)="changePage(1)" class="default-button">Next Page-></button>
  </div>
</div>
