<div class="header-display">
    <div class="header-left">
      <button (click)="showLeft()" class="header-left-button">Left Panel</button>
    </div>
    <div class="header-right">
      <app-search-bar
      (showSearchedMovies)="showSearchedMovies.emit($event)"></app-search-bar>
      <button (click)="changePage(-1)" class="default-button"><-Previous Page</button>
      <button (click)="changePage(1)" class="default-button">Next Page-></button>
      <button class="default-button" (click)="goToDetails()">Go to Details</button>
    </div>
</div>
