<button (click)="goBack()" class="back-button" style="background: #C81D77"><-- Back</button>
<div class="body-display">
  <div class="body-sidebar" *ngIf="state.leftIsShown()">
    <div (click)="goToRecommendations()" class="redirect">Recommendations system</div>
  </div>
  <div class="recommendations-display">
    <div class="recommendations-body">
      <div class="recommendations-search-box">
        <input class="recommendations-search-input" placeholder="movie name">
        <button class="recommendations-search-button">Search</button>
      </div>
      <div class="recommendations-movie-box">
        <div class="movie-container">
          <div class="movie-image">
<!--            <img class="movie-poster" [src]="movie.posterLink" alt="{{movie.posterLink}}"/>-->
                image
          </div>
          <div class="movie-title">title</div>
          <div class="movie-buttons">
            <button class="default-button">details</button>
            <button class="default-button">2</button>
            <button class="default-button">3</button>
          </div>
        </div>
        <div class="movie-container">
          <div class="movie-image">
            <!--            <img class="movie-poster" [src]="movie.posterLink" alt="{{movie.posterLink}}"/>-->
            image
          </div>
          <div class="movie-title">title</div>
          <div class="movie-buttons">
            <button class="default-button">details</button>
            <button class="default-button">2</button>
            <button class="default-button">3</button>
          </div>
        </div>
        <div class="movie-container">
          <div class="movie-image">
            <!--            <img class="movie-poster" [src]="movie.posterLink" alt="{{movie.posterLink}}"/>-->
            image
          </div>
          <div class="movie-title">title</div>
          <div class="movie-buttons">
            <button class="default-button">details</button>
            <button class="default-button">2</button>
            <button class="default-button">3</button>
          </div>
        </div>
        <div class="movie-container">
          <div class="movie-image">
            <!--            <img class="movie-poster" [src]="movie.posterLink" alt="{{movie.posterLink}}"/>-->
            image
          </div>
          <div class="movie-title">title</div>
          <div class="movie-buttons">
            <button class="default-button">details</button>
            <button class="default-button">2</button>
            <button class="default-button">3</button>
          </div>
        </div>
        <div class="movie-container">
          <div class="movie-image">
            <!--            <img class="movie-poster" [src]="movie.posterLink" alt="{{movie.posterLink}}"/>-->
            image
          </div>
          <div class="movie-title">title</div>
          <div class="movie-buttons">
            <button class="default-button">details</button>
            <button class="default-button">2</button>
            <button class="default-button">3</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
