.body-display
{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 10%;
}
.body-content
{
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 5vh;
}
.body-sidebar
{
  flex: 1;
}
.redirect
{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6710C2;
  height: 3%;
  transition: 0.3s;
}
.redirect:hover
{
  background-color: #98179D;
  cursor: pointer;
}
