.body-display
{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 10%;
}
.body-content
{
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 5vh;
}
.body-sidebar
{
  flex: 1;
}
