.root-display
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--tertiary-color);
}
.body-container
{
  flex: 6;
  background-color: var(--tertiary-color);
  width: 100%;
  margin-top: 3.75%;
  overflow-y: auto;
}
.header-container
{
  flex: 1;
  background-color: var(--accent-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 7%;
  justify-content: center;
  align-items: center;
  border-bottom: thick solid var(--neutral-black);
}
.footer-container {
  flex: 1;
  background-color: var(--neutral-black);
  width: 100%;
  height: 7%;
  display: none; /* Ukryty domyślnie */
}
.footer-container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

