.movie-container
{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 30vw;
  height: 40vh;
  border-width: thick;
  border-color: var(--neutral-black);
  border-style: solid;
  min-width: 250px;
  max-width: 350px;
  min-height: 300px;
  margin: 8px;
  box-sizing: border-box;
  z-index: -1;
}
.movie-image
{
  flex: 4;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: thick solid var(--neutral-black);
  box-sizing: border-box;  /* Add this */
}
.movie-title
{
  display: flex;
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-bottom: thick solid var(--neutral-black);
}
.movie-buttons
{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

