<h2>My Heroes</h2>
<li *ngFor="let hero of heroes">
  <ul class="heroes">
    <li>
      <button type="button" (click)="onSelect(hero)">
        <div style="justify-content: center; display: flex; flex-direction: column">
          <div class="badge" style="flex: 1">{{hero.id}}</div>
          <div class="name" style="flex: 4">{{hero.name}}</div>
        </div>
      </button>
    </li>
  </ul>
</li>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
